<div class="header">
    <a class="header__logo" href="/customer">
        <img src="/img/logo-con-tho-31.png" alt="logo-shop" class="header__logo-img">
    </a>
    <div class="header_categories">
        <div class="header_categories-content">
            <div class="header_categories-icon">
                <i class="ti-menu"></i>
            </div>
            <div class="header_categories-title">Danh mục <br> Sản Phẩm</div>
        </div>


        <!-- list in categories -->

    </div>

    <div class="header_find">
        <input type="text" placeholder="tìm sản phẩm mong muốn..." class="header_find-left">
        <div class="header_find-right">
            <i class="ti-search header_find-right-icon"></i>
            <p class="header_find-right-title">Tìm Kiếm</p>
        </div>
    </div>
    <div class="header_account--log-in--log-out">
        <div class="header_account--log-in--log-out__content">
            <div class="header_account--log-in--log-out__icon">
                <i class="ti-user"></i>
            </div>
            <div class="header_account--log-in--log-out-des">
                <p class="log-in_log-out">Tài Khoản</p>
                <p class="accout">Trần Thảo Nguyên</p>
            </div>
        </div>
        <!-- box login/logout -->
        <div class="header_account--log-in--log-out__box_page2">
            <ul class="header_account--log-in--log-out__box-list_page2"></ul>
                <li><a href="/">đăng xuất</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="thankYouCustomer" >
    <img src="/img/thankyou.jpg" alt="thank you for you " style="width: 100%;">
    <h3 class="thankYouCustomer-title"> đặt hàng thành công, cảm ơn bạn đã ủng hộ, nhân viên sẽ liên lạc lại với bạn trong thời gian sớm nhất</h3>
</div>