 {{> header }}
<div class="container1">
    <div class="mt-4" style="padding-bottom: 20px;">
        <h3>cập nhật sản phẩm</h3>

        <form method="POST" action="/product/{{product._id}}?_method=PUT">
            <div class="form-group">
                <label for="name">tên sản phẩm</label>
                <input type="text" class="form-control" value="{{product.nameProduct}}" id="name" name="name">
            </div>
            <div class="form-group">
                <label for="prince">giá sản phẩm</label>
                <input type="text" class="form-control" value="{{product.prince}}" id="prince" name="prince">
            </div>
            <div class="form-group">
                <label for="img">hình ảnh sản phẩm</label>
                <input type="text" class="form-control" value="{{product.img}}" id="img" name="img">
            </div>

            <button type="submit" class="btn btn-primary">Cập nhật sản phẩm</button>
        </form>
    </div>
</div>