:root {
  --primary-color:#00a9e0;
  --while-color:#fff;
  --black-color:#000;
  --text-color:#999;
  --boder-color:#dbdbdb;
  --modal-color:#3a5a98; }

a {
  text-decoration: none;
  font-size: 12px;
  color: #4a4a4a; }

body {
  background-color: #f9f9f9; }

.slider {
  padding: 0 54px; }

/* Animation */
@keyframes headerNotifyGrouwth {
  from {
    opacity: 0;
    transform: scale(0); }
  to {
    opacity: 1;
    transform: scale(1); } }

/* modal */
.mt20 {
  margin-top: 20px; }

.mr-8 {
  margin-right: 8px; }

.ml-16 {
  margin-left: 16px; }

.line {
  border-bottom: 1px solid var(--text-color); }

.btn-pay {
  height: 42px;
  background-color: var(--modal-color);
  color: var(--while-color);
  text-align: center;
  line-height: 42px;
  border-radius: 5px;
  cursor: pointer; }

.thankYouCustomer {
  position: relative; }

.thankYouCustomer img {
  height: 472px; }

.thankYouCustomer-title {
  position: absolute;
  width: 600px;
  font-size: 46px;
  color: var(--while-color);
  top: 140px;
  right: 10%;
  text-align: center; }
