<div class="header">
    <a class="header__logo" href="/">
        <img src="/img/logo-con-tho-31.png" alt="logo-shop" class="header__logo-img">
    </a>
    <div class="header_categories">
        <div class="header_categories-content">
            <div class="header_categories-icon">
                <i class="ti-menu"></i>
            </div>
            <div class="header_categories-title">Danh mục <br> Sản Phẩm</div>
        </div>

    </div>

    <div class="header_find">
        <input type="text" placeholder="tìm sản phẩm mong muốn..." class="header_find-left">
        <div class="header_find-right">
            <i class="ti-search header_find-right-icon"></i>
            <p class="header_find-right-title">Tìm Kiếm</p>
        </div>
    </div>
    <div class="header_account--log-in--log-out">
        <div class="header_account--log-in--log-out__content">
            <div class="header_account--log-in--log-out__icon">
                <i class="ti-user"></i>
            </div>
            <div class="header_account--log-in--log-out-des">
                <p class="log-in_log-out">Tài Khoản</p>
                <p class="accout">Trần Thảo Nguyên</p>
            </div>
        </div>
        <!-- box login/logout -->
        <div class="header_account--log-in--log-out__box_page2">
            <ul class="header_account--log-in--log-out__box-list_page2">
                <li><a href="/product/create">đăng sản phẩm</a></li>
                <li><a href="/me/store/product">quản lí sản phẩm</a></li>
                <li><a href="/me/store/customer">danh sách khách hàng</a></li>
                <li><a href="/">đăng xuất</a></li>
            </ul>
        </div>
    </div>
</div>

{{!-- SLIDER --}}
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active" style="height: 472px;">
            <img class="d-block w-100" src="/img/slidebanh1.png" alt="First slide" style="width: 100%;">
        </div>
        <div class="carousel-item" style="height: 472px;">
            <img class="d-block w-100" src="/img/slidebanh2.jpg" alt="Second slide" style="width: 100%;">
        </div>
        <div class="carousel-item" style="height: 472px;">
            <img class="d-block w-100" src="/img/slidebanh3.jpg" alt="Third slide" style="width: 100%;">
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>